nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: gray;
    border-radius: 0px 25px 25px 0;
    transition: width 0.5s;
  }

  nav.expanded {
    width: 200px;

  }

  nav ul {
    opacity: 0;
    transition: opacity 0.5s;

  }

  nav.expanded ul {
    opacity: 1;
  }